 <p><strong>Q. What are discount  vouchers?</strong></p>
<p>Discount vouchers allow qualified Networking Academy students to take the following Cisco  certification exams at a reduced cost:</p>
<ul>
  <li>ICND1 (640-822)</li>
  <li>ICND2 (640-816)</li>
  <li>CCNA Composite (640-802)</li>
</ul>
<h3>Q. What are the rules associated with discount vouchers?</h3>
<ul>
  <li>Your voucher must be used in the same region  where you completed  your Academy training.</li>
  <li><strong>Absolutely NO </strong>exchanges, refunds,  or extensions will be granted  if the incorrect voucher type is  selected.</li>
  <li>Vouchers must be used by the expiration date. No extensions will be given.</li>
  <li>Please confirm the discount amount  with the Pearson  VUE Testing Center  PRIOR to taking the exam. Cisco will not reimburse  Students or Instructor for the voucher.</li>
  <li>Cisco cannot make changes to voucher requests  after they have been submitted.</li>
</ul>
<h3>Q. What  is the value of the discount voucher?</h3>
<p>Learning @ Cisco has made vouchers available to eligible Networking Academy Students for 58%  discount off the full price of ICND1, ICND2 and the CCNA Composite exams.</p>
<p>Please Note that exam discount promotions are  subject to change and from time-to-time Exam Prices also change. These changes  occur without notice and students are encouraged to double check the value of the discount and the price of the  exam at the time they wish to request a discount. Please plan to request  and take your exam in a timely  manner to minimize  your chances of being negatively affected by a change.</p>
<h3>Q. How do I qualify  for a discount voucher?</h3>
<p>To receive a <strong>CCENT </strong>voucher, students must  pass the first two CCNA Discovery courses; Networking for Home  and Small Businesses and Working at a Small-to-Medium Business or ISP, receive a passing mark from their instructor in the  student&rsquo;s Online Gradebook and receive a logged score of 75 percent or higher  on their <strong>first </strong>attempt of the final  exam for Working at a Small-to-Medium Business or ISP.<br>
For a <strong>CCNA </strong>voucher, students must pass all four courses of either the CCNA Discovery  or CCNA Exploration curriculum, receive a passing mark from their instructor in  the student&rsquo;s Online Gradebook and receive a logged score of 75 percent or  higher on their <strong>first </strong>attempt of the  final exam for the final CCNA Discovery course;  Designing and Supporting Computer Networks, or for the final CCNA Exploration  course; Accessing the WAN.</p>
<p>Additionally,  a top cohort of global  NetRiders Competition winners  maybe eligible for either a CCENT  voucher or a CCNA composite voucher. Details are available upon competition  registration.</p>
<h3>Q. How do I  know I have qualified for a discount voucher?</h3>
<p>Qualifying Students will automatically receive  a Voucher Request  link(s) <strong>after the Instructor passes  the Student from the class. </strong>The links will appear as below on the  Student Home page:</p>
<ul>
  <li>Request for ICND1 Voucher</li>
  <li>Request for ICND2 Voucher</li>
  <li>Request for CCNA Composite Voucher</li>
</ul>
<h3>Q. How many discount vouchers  can a Networking Academy student  receive?</h3>
<p>When qualifications are met, a maximum of two discount  voucher will be provided.</p>
<ul>
  <li>For Cisco CCENT&trade;  certifications, one discount  voucher is provided  for ICND1 (640-801).</li>
  <li>For Cisco CCNA  certifications, the student can choose to take the exam in two parts and  therefore can get two vouchers:  one discount voucher  is provided for ICND1 (640-822), and one voucher for  ICND2 (640-816), <strong>alternatively </strong>a  student can chose to take the exam in one sitting and chose one voucher for the  CCNA Composite exam (640-802).</li>
</ul>
<p>The following notification appears when Students  begin to request  the Discount Voucher.  Please read all notifications very carefully before  you make your voucher requests.</p>
<ul>
  <li>Vouchers must be used in the same region where  they completed their Academy training.</li>
  <li>Absolutely no exchanges, refunds, or extensions will be granted.</li>
  <li>Vouchers must be used by the expiration date. No extensions will be given.</li>
  <li>Please confirm the discount amount with the testing center  PRIOR to taking  the exam.</li>
  <li>Cisco WILL NOT reimburse Students  or Instructor for the voucher.</li>
  <li>Cisco CANNOT make changes to voucher requests  after they have been submitted.</li>
</ul>
<p>If you still have questions as to how the Vouchers  are mapped to the classes,  please see the diagram below:</p>
<h3>Q. How do Students  request a CCNA Discount Voucher?</h3>
<p><img width="11" height="9" src="file:///C|/Users/Kashif Mushtaq/AppData/Roaming/Macromedia/Dreamweaver 8/OfficeImageTemp/clip_image002.gif" alt="http://cna-stage-nv-rcdn.cisco.com/contentassets/images/common/icon_popup.gif">Before requesting a voucher, eligible Students  should access the URL <strong>Pearson VUE </strong>- <a href="http://www.vue.com/">http://www.vue.com/</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in order to locate the nearest  Testing Center and read about the standard testing procedures.<br>
  Specific information can be located  at: URL: <a href="http://pearsonvue.com/cisco/">http://pearsonvue.com/cisco/ </a> </p>
<h5>Please note the following  before requesting your discount voucher:</h5>
<ul>
  <li>Your voucher must be used in the same region  where you completed  your Academy training.</li>
  <li>Absolutely no exchanges, refunds,  or extensions will be granted  if the incorrect voucher type is selected.</li>
  <li>Vouchers must be used by the expiration date. No extensions will be given.</li>
  <li>Please confirm the discount amount  with the Testing  Center PRIOR to taking the exam. We will  not reimburse Students or Instructor for the voucher.</li>
  <li>Cisco cannot make changes to voucher requests  after they have been submitted.</li>
</ul>
<p>To request a Discount Voucher,  please follow the steps listed  below:</p>
<ul>
  <li>Login to the Academy  Connection site at <a href="http://www.cisco.com/web/learning/netacad/index.html">http://www.cisco.com/web/learning/netacad/index.html</a> </li>
  <li>Click on the 'Request for CCNA Voucher'  link located in the 'Career  Development' section of  your Home Page . Before  you request a voucher please  read the information located on the 'Request  a Voucher' page.</li>
  <li>Choose the Country</li>
  <li>Choose the Testing  Center</li>
  <li>Click 'Submit'</li>
</ul>
<p><strong><em>Please Note: </em></strong><em>If you are not eligible  to receive a Discount Voucher  for a particular curriculum, you will not receive the 'Request for  Voucher' link.</em></p>
<p><ul>
    <li>After completing the request, you may review  your Discount Voucher information in your profile. The details are accessible by clicking on the 'My Profile' link at the top of your Home Page and scrolling down to the  Voucher Information</li>
    </ul>
</p>
<h3>Q. How long are discount  vouchers valid?</h3>
<p>When issued, the expiration date will be clearly noted on the voucher. A voucher is valid  for a minimum of 90 days and a maximum of 180 days depending on when  it was issued. Students are responsible for knowing when their voucher expires,  since the expiration date cannot be extended.<br>
  Please Note that exam discount promotions are  subject to change and from time-to-time Exam Prices also change. These changes  occur without notice and students are encouraged to double check the value of  the discount and the price of the exam at the time they wish to request a  discount. Please plan to request and take your exam in a timely  manner to minimize  your chances of being negatively affected by a change.</p>
<p><strong>Q. Why  is the expiration date on my CCNA Discount Voucher different than my  classmates? </strong>Cisco ensures that all vouchers are valid for  at least three months after they are issued. If you receive your voucher  immediately after a large group of vouchers  have been uploaded  to the site, you may have  up to a year before your voucher expires. If you request your voucher near the  end of a loading cycle, your voucher may only be valid for three months.</p>
<p>It is the students&rsquo; responsibility to read their  voucher information and to know the expiration date.</p>
<p><strong>Please Note: </strong>Cisco cannot  extend the expiration dates of vouchers  and will not issue replacements.</p>
<h3>Q. How do I register for the CCNA examination with my Pearson VUE discount voucher?</h3>
<p>To register for a Cisco Career Certification Exam at a Pearson  VUE Testing Center,  please follow the two  steps below:</p>
<ul>
  <li>In the United  States and Canada,  please call Pearson  VUE at 1-877-404-EXAM (3926). You may  also register online at VUE's website at <a href="http://www.vue.com/">www.vue.com/.</a> </li>
  <li>Please have the following information available when calling:</li>
  <ul>
    <li>Provide your Legal Name as  shown on a government issued  ID - your ID will have to be</li>
  </ul>
</ul>
<h3>presented along  with another photo ID at the time of testing.</h3>
<ul>
  <ul>
    <li>Social Security, Passport or VUE ID number</li>
    <li>Primary mailing  address and phone number</li>
    <li>Company name</li>
    <li>E-mail address</li>
    <li>Method of payment: Voucher</li>
  </ul>
</ul>
<p>This voucher may only be redeemed at a VUE Testing Center  and is governed by the following terms:</p>
<ul>
  <li>You must register  and take the exam prior to the expiration date.  Voucher expiration dates cannot be extended</li>
  <li>Expired vouchers have no value</li>
  <li>Void if altered  or revised in any way</li>
  <li>May not be redeemed for cash, credit  or refund</li>
  <li>May not be used for any other  exam</li>
  <li>VUE, VUE Testing  Centers, and Cisco Systems are not responsible for vouchers that are lost or  stolen</li>
</ul>
<p>To redeem this voucher  and register for a Cisco Career Certification Exam in another  country, go to <a href="http://www.vue.com/">www.vue.com/</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<h3>Cisco Telephone Registration</h3>
<p>Cisco exams are available through  our network of test centers  worldwide. If your country is not  listed, a toll-free number is not available at this time. View available toll  numbers here:</p>
<p>URL: <a href="http://www.vue.com/cisco/contact/%23toll/">http://www.vue.com/cisco/contact/#toll/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a> </p>
<h3>Q. Why are there separate vouchers  for the new and old versions of the CCNA exams?</h3>
<p>Vouchers for the old and new versions  of the CCNA exam are not interchangeable.</p>
<p>As a result of content updates, these exams are  quite different from each other. A student who completes the old version of the  CCNA curriculum version 3.x will not be prepared to sit for the new version of  the CCNA exam (640-802). In order to ensure Student success, the Networking Academy will provide vouchers for the old  version of the CCNA exam (640-801) to qualified Students completing the old curriculum (version 3.x) and vouchers for the new version of the CCNA exam (640-802)  for qualified Students  completing the new version of the curriculum.</p>
<p>Regardless of the version of the exam a Student  takes, if a Student passes  the certification exam, they  will become CCNA certified.</p>
<h3>Q. How do I locate my discount voucher  information?</h3>
<p>You may review  your Discount Voucher  information within your profile.</p>
<p>Please follow the steps below  to locate your voucher information.</p>
<ul>
  <li><img width="11" height="9" src="file:///C|/Users/Kashif Mushtaq/AppData/Roaming/Macromedia/Dreamweaver 8/OfficeImageTemp/clip_image002_0002.gif" alt="http://cna-stage-nv-rcdn.cisco.com/contentassets/images/common/icon_popup.gif">Login the Academy  Connection at <a href="http://www.cisco.com/web/learning/netacad/index.html">http://www.cisco.com/web/learning/netacad/index.html</a> </li>
  <li>Click 'My Profile'  located in the upper right corner</li>
  <li>Scroll down until you see 'Voucher Information'</li>
</ul>
<p>The following voucher  information will be displayed within  your profile:</p>
<ul>
  <li>Your requested Testing  Center</li>
  <li>Country/Entity </li>
  <li>Your Voucher Number</li>
  <li>Expiration Date of your voucher</li>
</ul>
<p>In addition to the information displayed within your profile, please read the important information below regarding your voucher:</p>
<ul>
  <ul>
    <li>You cannot make changes to your voucher  request after it has been submitted</li>
    <li>No exchanges, refunds,  or extensions will be granted  if the wrong voucher type is selected  No extension will be granted by Cisco or the testing center</li>
    <li>Your voucher(s) must be used in the same region  where you completed  your Academy training.</li>
    <li>Please confirm the discount amount  with the testing  center PRIOR to taking the exam. We will  not reimburse Students or Instructors for the voucher(s).</li>
  </ul>
</ul>
<p><strong>Please Note: </strong>The policies  of the CCNA Discount Voucher  Program states that Students and Instructors  are only eligible for Discount Voucher(s) for one CCNA certification exam path.</p>
<p>&nbsp;</p>
<h3>Q. How can students receive  additional vouchers?</h3>
<p>Since Cisco Networking Academy will issue  only one voucher  per eligible candidate per exam, students are encouraged to study prior to  the certification exams. Vouchers cannot be reissued.</p>
<h3>Q. Can students  who fail the certification exam use the voucher a second time?</h3>
<p>The voucher is valid for one use only. Students  who fail the exam will not be re-issued a second voucher.</p>
<h3>Q. What are some recommended resources for preparing  to take a certification exam?</h3>
<p>Students are eligible to register as alumni by  clicking the Alumni Home link that will appear after they pass a qualifying course.  Once registered as alumni, the Course Materials link on the Alumni Home page  allows alumni to review Course Materials for courses they passed.<br>
  In addition, the CCNA/CCNP Prep Center is available on Cisco Learning  Network located at <a href="https://learningnetwork.cisco.com/index.jspa?ciscoHome=true">https://learningnetwork.cisco.com/index.jspa?ciscoHome=true</a>. </p>
<h2>Cisco Certification Exams</h2>
<h3>Q. Where are Cisco certification exams delivered?</h3>
<p>Pearson VUE is Cisco&rsquo;s primary  vendor for test delivery. For more information, visit <a href="http://www.pearsonvue.com/cisco">www.pearsonvue.com/cisco.</a> </p>
<h3>Q. What  is Pearson VUE?</h3>
<p>Pearson VUE is the global  leader in electronic testing for regulatory and certification boards.  They provide a full suite of services from test development and delivery  to data management in 165<br>
  countries. Pearson VUE delivers exams  through the world&rsquo;s  largest network of test centers,  providing services for IT, academic, government, and professional  clients. In 2007, Pearson VUE was chosen as Cisco&rsquo;s primary vendor for test  delivery.</p>
<h3>Q. How can candidates locate  a Pearson VUE test center  in their area?</h3>
<p>Pearson VUE has more than 5000 test centers in  165 countries worldwide. The quickest way to locate one is to use the <a href="http://www6.pearsonvue.com/Dispatcher?application=VTCLocator&action=actStartApp&v=W2L&cid=139">Test Center Locator.</a> Simply select the name of an exam, and then  follow the instructions. This will generate a list of all Pearson  VUE Authorized Test Centers in the area that offer  the exam.</p>
<h3>How can candidates register  for an exam at a Pearson VUE test center?</h3>
<p>Pearson VUE offers  three different methods  of registration:</p>
<ol>
  <li>Online, candidates must <a href="https://www6.pearsonvue.com/Dispatcher?v=W2L&application=Login&embedApp=RegSched&frame=top&postLoginApp=WrapCandSignIn&clientCode=CISCOTESTING&action=actStartApp&layer=Login&bfp=top&appFramePath=top&bfpapp=top&org.springframework.web.context.request.Reques">sign in</a><u> </u>to their accounts using a Pearson  VUE username and password.  Candidates who do not have a username and password can <a href="https://www6.pearsonvue.com/Dispatcher?webApp=LoginRequest&webContext=CreateAccount&cid=139&noSchedule=null">create a Web account</a><u> </u>now.</li>
  <li>Another way to register for an exam is to contact a <a href="http://pearsonvue.com/cisco/contact/">Pearson VUE agent</a><u> </u>directly. </li>
  <li>The final option  is to call or visit a test center. To find the address and telephone number  of a Pearson VUE test center,  visit the <a href="http://www6.pearsonvue.com/Dispatcher?application=VTCLocator&action=actStartApp&v=W2L&cid=139">Test Center Locator.</a></li>
</ol>
<h3>Q. What special  accommodations can be made for candidates with disabilities?</h3>
<p>If a candidate has a special testing need, they  should contact a <a href="http://pearsonvue.com/cisco/contact/">Pearson VUE agent</a><u> </u>directly  and ask for the special accommodations department. Candidates must make their requests for accommodations at the time of registration. Special  accommodations include time extensions to accommodate learning disabilities or  physical challenges. Candidates generally receive a time and a half extension.  Vision impaired candidates who require a reader  will have twice the amount of time to complete their exams in separate room  with a reader and recorder. Other requests are reviewed on a case by case  basis.</p>
<h3>Q. Are there  any restrictions or arrangements for candidates under  the age of 18?</h3>
<p>When a candidate sits to take an exam at a  testing work station, a screen prompt will ask if the candidate is 18 year of age or  older. Candidates will still be able to take their  exam, but prior  to receiving their  certification number, candidates must have their parent or legal guardian  accept the terms and conditions of the &ldquo;Cisco Career Certification and  Confidentiality Agreement,&rdquo; sign the form and return it to Cisco by mail or  fax. The actual form and more information on where to send the form can be  found at the following link: <a href="http://www.cisco.com/web/learning/downloads/Cisco-Career-Certifications-and-Confidentiality-Agreement_v16.pdf">http://www.cisco.com/web/learning/downloads/Cisco-Career-Certifications-and-</a> <a href="http://www.cisco.com/web/learning/downloads/Cisco-Career-Certifications-and-Confidentiality-Agreement_v16.pdf">Confidentiality-Agreement_v16.pdf</a> </p>
<p>
  <p>&nbsp;</p>
</p>
